{% extends "content.html" %}

{% block content_main %}
  {{ super() }}
  <div class="content-section">
        <form method="POST" action="">
        	{{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend>Add measurement</legend>
                <div class="form-group">
                    {{ form.name.label(class="form-control-label") }}
                    {% if form.name.errors %}
                        {{ form.name(class="form-control form-control-lg is-invalid", placeholder="Name of your analysis (e.g. Au sphere - diameter sweep)") }}
                        <div class="invalid-feedback">
                            {% for error in form.name.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.name(class="form-control form-control-lg", placeholder="Name of your analysis  (e.g. Au sphere - diameter sweep)") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.project.label(class="form-control-label") }}
                    {% if form.project.errors %}
                        {{ form.project(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.project.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                            {{ form.project(class="form-control form-control-lg") }}
                    {% endif %}
                </div>


                <div class="form-group">
                    {{ form.cooperator.label(class="form-control-label") }}
                    {% if form.cooperator.errors %}
                        {{ form.cooperator(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.cooperator.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                            {{ form.cooperator(class="form-control form-control-lg") }}
                    {% endif %}
                </div>


                <div class="form-group">
                    {{ form.idea.label(class="form-control-label") }}
                    {% if form.idea.errors %}
                    <div class="has-error has-feedback">
                        {{ form.idea(class="form-control form-control-lg has-error", placeholder="Reason why do you do this analysis (eg. See if the process of excitation is linear or not)") }}
                        <span class="glyphicon glyphicon-remove form-control-feedback"></span>
                        <div class="help-block">
                            {% for error in form.idea.errors %}
                                <span class="help-block">{{ error }}</span>
                            {% endfor %}
                        </div>
                        </div>
                    {% else %}
                        {{ form.idea(class="form-control form-control-lg", placeholder="Reason why do you do this analysis(eg. See if the process of excitation is linear or not)") }}
                    {% endif %}
                </div>

                <div class="form-group">
                    {{ form.findings.label(class="form-control-label") }}
                    {% if form.findings.errors %}
                    <div class="has-error has-feedback">
                        {{ form.findings(class="form-control form-control-lg has-error", placeholder="Findings (e.g. We estimated threshold field as...)") }}
                        <span class="glyphicon glyphicon-remove form-control-feedback"></span>
                        <div class="help-block">
                            {% for error in form.findings.errors %}
                                <span class="help-block">{{ error }}</span>
                            {% endfor %}
                        </div>
                        </div>
                    {% else %}
                        {{ form.findings(class="form-control form-control-lg", placeholder="Findings (e.g. We estimated threshold field as...)") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.path.label(class="form-control-label") }}
                    {% if form.path.errors %}
                    <div class="has-error has-feedback">
                        {{ form.path(class="form-control form-control-lg has-error", placeholder="Path to your analysis (e.g. \Projects\High-k-vectors-BLS\ExpeData\2023-05-02-OW-hkExc04-ComparisonOfAntennas)") }}
                        <span class="glyphicon glyphicon-remove form-control-feedback"></span>
                        <div class="help-block">
                            {% for error in form.path.errors %}
                                <span class="help-block">{{ error }}</span>
                            {% endfor %}
                        </div>
                        </div>
                    {% else %}
                        {{ form.path(class="form-control form-control-lg", placeholder="Path to your analysis (e.g. \Projects\High-k-vectors-BLS\ExpeData\2023-05-02-OW-hkExc04-ComparisonOfAntennas)") }}
                    {% endif %}
                </div>
                {% import 'macros.html' as macros %}
                <!-- Image insert -->
                {{ macros.addImage() }}
            </fieldset>
            {% if log is defined  %}
                {% for image in log.images %}
                    <span class="InsertedImages">
                        <a href="{{ url_for('static', filename=image.path)  }}" data-title="{{ image.title }}" data-toggle="lightbox" data-gallery="{{ log.name|safe  }}">
                        <img src="{{ url_for('static', filename=image.path)  }}" class="InsertedImages img-thumbnail mx-auto d-block imgThumbLightbox"> 
                        <figcaption class="figure-caption text-center">{{ image.title }}</figcaption></a><button type="button" id="delCross{{ image.id }}" data-toggle="modal" data-target="#deleteModal{{ image.id }}" class="close delete-img mt-3" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </span>
                        <!-- Modal -->
                      <div class="modal fade" id="deleteModal{{ image.id }}" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel{{ image.id }}" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="deleteModalLabel{{ image.id }}">Delete picture with title {{ image.title }}?</h5>
                              <img src="{{ url_for('static', filename=image.path)  }}" class="InsertedImages img-thumbnail mx-auto d-block imgThumbLightbox"> 
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                              <button type="button" id="imageDelBtn{{ image.id }}" class="btn btn-danger" data-dismiss="modal" >Delete</button>
                              <script type="text/javascript">
                                  $( "#imageDelBtn{{ image.id }}").click(function() {
                                    $.get("{{ url_for('delete_logImage', image_id=image.id) }}");
                                    $("#delCross{{ image.id }}").parent().remove()
                                  })
                              </script>
                            </div>
                          </div>
                        </div>
                      </div>
                {% endfor %}
            {% endif %}
            <div class="form-group">
                {{ form.submit(class="btn btn-primary	") }}
            </div>
        </form>
    </div>
    <!-- Modal -->
  <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">Delete picture?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <form action="#" method="POST">
            <input class="btn btn-danger" type="submit" value="Delete">
          </form>
        </div>
      </div>
    </div>
  </div>


        <script type="text/javascript">
  $(document).on("click", '[data-toggle="lightbox"]', function(event) {
    event.preventDefault();
    $(this).ekkoLightbox();
  });
</script>
      <script>
    function loadAttribute() {
            $.ajax({
                data : {
                    idSetup : $('#setup').val(),
                },
                type : 'GET',
                url : '/_listSetupAttr'
            })
            .done(function(data) {
                if (data.error) {

                }
                else {
                    $.each(data, function(key, attr) {
                        var table = document.getElementById("attributeTable");

                      var lastRow = table.rows[ table.rows.length - 1 ];
                      var lastInputName = lastRow.cells[0].getElementsByTagName('input')[0];
                      if (lastInputName) {
                        var r = /\d+/;
                        var i = Number(lastInputName.name.match(r));
                        i = i + 1;
                      } else {
                       var i = 0;
                     }
                     var row = table.insertRow(-1);
                     var cell1 = row.insertCell(-1);
                     var cell2 = row.insertCell(-1);
                     var cell3 = row.insertCell(-1);
                     cell1.innerHTML = "<label class=\"sr-only\" for=\"\">Attribute name:</label><input type=\"text\" class=\"form-control form-control-lg\" autocomplete=\"off\" name=\"attr-" + i + "-attrName\" value=\"" + attr.attrName + "\">";
                     cell2.innerHTML = "<label class=\"sr-only\" for=\"\">Attribute value:</label><input type=\"text\" class=\"form-control form-control-lg\" autocomplete=\"off\" name=\"attr-" + i + "-attrValue\" value=\"" + attr.attrValue + "\">";
                     cell3.innerHTML = "<button type=\"button\" onclick=\"$(this).parent().parent().remove()\" class=\"close align-middle\" aria-label=\"Close\">&times;</button>";
                     cell3.classList.add("align-middle");
                    });    
                }

            });
            event.preventDefault();


   }
 </script>
{% endblock %}
