{% extends "content.html" %}

{% block content_main %}
  {{ super() }}
  <div class="content-section">
        <form method="POST" action="" enctype="multipart/form-data">
        	{{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend>{{ legend }}</legend>
                <div class="form-group">
                    {{ form.name.label(class="form-control-label") }}
                    {% if form.name.errors %}
                        {{ form.name(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.name.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.name(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.number.label(class="form-control-label") }}
                    {% if form.number.errors %}
                        {{ form.number(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.number.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.number(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.desc.label(class="form-control-label") }}
                    {% if form.desc.errors %}
                        {{ form.desc(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.desc.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.desc(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                    <br>
            </fieldset> 
            <div class="form-group">
                {{ form.submit(class="btn btn-primary") }}
            </div>
        </form>
    </div>
{% endblock %}
